*.exe.injected
*-verify.exe
*.infected.exe

app/upload/*
data/exes_more/
*.obj
*.lnk
/*.bin
__pycache__
bak/
build/
out/
tools/
doc/
*.pickle
logs/
app/projects/*
data_orig/
app/upload_orig/
data/source/payload/