<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="indent">

    <h1> ShcDev: {{name}}</h1>

    <table class="table">
        {% for file in files %}
        <tr>
            <td><a href="/shcdev/{{name}}/file/{file['name']}">{{ file['name']}}</a></td>
            <td>{{file["date"]}}</td>
            <td>{{file["info"]}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/shcdev/{{name}}/build">Build</a>

    <br><hr>

    <pre>{{log}}</pre>

  </div>
  </body>
</html>