<!DOCTYPE html>
<html>
<head>
{% include 'header.html' %}
</head>
<body>
{% include 'navigation.html' %}

<div class="indent">
<div class="row">

<h2>Sections</h2>


<div class="col-6">
    {% if iat|length > 0 %}
    
    <h2> IAT Imports DLLs</h2>
    <ul>
        {% for dll_resolve in resolved_dlls %}
        <li> {{ dll_resolve.dllname }}: {{ dll_resolve.cdll_res }} : {{ dll_resolve.path_res }}</li>
        {% endfor%}
    </ul>

    <h2> IAT Imports functions</h2>
    {% for dll in iat %}
    <ul>
        {% for entry in iat[dll] %}
        <li> {{ entry.dll_name }}: {{ entry.func_name }} </li>
        {% endfor%}
    </ul>
    {% endfor %}
    {% endif %}
</div>


<div class="col-6">

{% if exports|length > 0 %}
<h2> DLL Exports </h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Size (Approx)</th>
    </tr>
    {% for export in exports %}
    <tr>
        <td>{{export["name"]}}</td>
        <td>{{export["addr"] | hexint}}</td>
        <td>{{export["size"]}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</div>


</div>
</div>
</body>
</html>