<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
      
{% include 'navigation.html' %}

<div class="container-fluid">
<div class="row">

<div class="col-md-3">

    <form method="POST" enctype="multipart/form-data" action="/project_add">

    <div class="row row-cols-lg-auto g-3">

    <input type="text" name="project_name" class="form-control" placeholder="Projekt name" aria-label="PROJECTNAME" aria-describedby="basic-addon1">

    <input type="text" name="comment" class="hidden form-control" 
        placeholder="Comment" value=""
        aria-label="PROJECTNAME" aria-describedby="basic-addon1">

    <button class="btn btn-primary" type="submit" value="save">Save</button>

    </div>
    </form>

</div>
</div>

</body>
</html>