<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="indent">

        <h2> {{project_name}} </h2>


        <div class="row">
            <!-- Buttons -->
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                    <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/build">
                        <button class="btn btn-primary" type="submit" value="start">Build</button>
                    </form>
                    </div>
                </div>
                
                {% if is_built %}
                <div class="row">
                    <div class="col-6">
                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec">
                            <button class="btn btn-primary" type="submit" value="start">Start Local</button>
                        </form>

                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec?no_exec=true">
                            <button class="btn btn-primary" type="submit" value="start">File Local</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec?remote=true">
                            <button class="btn btn-primary" type="submit" value="start">Start Remote</button>
                        </form>

                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec?remote=true&no_exec=true">
                            <button class="btn btn-primary" type="submit" value="start">File Remote</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Input files -->
            <div class="col-3">
                <!-- leave this here or it will fuck up layout -->
                <form method="POST" enctype="multipart/form-data" action="/project_add">
                <input type="hidden" name="project_name" value="{{project_name}}">
                    
                <input type="text" name="comment" class="hidden form-control" 
                       placeholder="Comment" value="{{project.comment}}"
                       aria-label="PROJECTNAME" aria-describedby="basic-addon1"
                       onchange="this.form.submit()">
            
                <select class="form-select" name="shellcode" aria-label="SHELLCODE" onchange="this.form.submit()">
                    {% for shellcode in shellcodes %}
                    <option value="{{shellcode}}" 
                            {% if shellcode in project.settings.payload_path %} selected {% endif %}
                    >
                        {{shellcode}}
                    </option>
                    {% endfor %}
                </select>
            
                <select class="form-select" name="exe" aria-label="EXE" onchange="this.form.submit()">
                    {% for exe in exes %}
                    <option value="{{exe}}"
                        {% if exe in project.settings.inject_exe_in %} selected {% endif %}
                    >
                    {{exe}}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- row 3 -->
            <div class="col-3">
                <select class="form-select" name="source_style" aria-label="SOURCESTYLE" onchange="this.form.submit()">
                    {% for name, value in sourcestyles %}
                    <option value="{{name}}"
                        {% if name in project.settings.source_style.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>
            
                <select class="form-select" name="inject_style" aria-label="INJECTSTYLE" onchange="this.form.submit()">
                    {% for name, value in injectstyles %}
                    <option value="{{name}}"
                    {% if value in project.settings.inject_mode.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>
            
            </div>
            <div class="col-3">
                <select class="form-select" name="alloc_style" aria-label="ALLOCSTYLE" onchange="this.form.submit()">
                    {% for name, value in allocstyles %}
                    <option value="{{name}}"
                        {% if value in project.settings.alloc_style.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>

                <select class="form-select" name="decoder_style" aria-label="DECODERESTYLE" onchange="this.form.submit()">
                    {% for name, value in decoderstyles %}
                    <option value="{{name}}"
                    {% if value in project.settings.decoder_style.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>
            
                <select class="form-select" name="exec_style" aria-label="EXECSTYLE" onchange="this.form.submit()">
                    {% for name, value in execstyles %}
                    <option value="{{name}}"
                    {% if value in project.settings.exec_style.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        </form>

        <div class="row">
            <div class="col">
              {{ project_dir }}
              <div class="custom-line"></div> <!-- Here's the horizontal line -->
            </div>
        </div>


    <div class="row">
        <div class="col-md-12">
            {% include 'files.html' %}
        </div>
    </div>
    </div>
</body>
</html>