<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
      
{% include 'navigation.html' %}

<div class="container-fluid">
<div class="row">

<div class="col-md-3">

    <form method="POST" enctype="multipart/form-data" action="/project_add">

    <div class="row row-cols-lg-auto g-3">

    <input type="text" name="project_name" class="form-control" placeholder="Projekt name" aria-label="PROJECTNAME" aria-describedby="basic-addon1">

    <input type="text" name="comment" class="hidden form-control" 
    placeholder="Comment" value=""
    aria-label="PROJECTNAME" aria-describedby="basic-addon1">

    <select class="form-select" name="shellcode" aria-label="SHELLCODE">
        {% for shellcode in shellcodes %}
        <option value="{{shellcode}}">{{shellcode}}</option>
        {% endfor %}
    </select>

    <select class="form-select" name="exe" aria-label="EXE">
        {% for exe in exes %}
        <option value="{{exe}}">{{exe}}</option>
        {% endfor %}
    </select>

    <select class="form-select" name="source_style" aria-label="SOURCESTYLE">
        {% for name, value in function_invoke_styles %}
        <option value="{{name}}">{{value}}</option>
        {% endfor %}
    </select>

    <select class="form-select" name="decoder_style" aria-label="DECODERESTYLE">
        {% for name, value in decoderstyles %}
        <option value="{{name}}">{{value}}</option>
        {% endfor %}
    </select>

    <select class="form-select" name="carrier_invoke_style" aria-label="INJECTSTYLE">
        {% for name, value in carrier_invoke_styles %}
        <option value="{{name}}">{{value}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-primary" type="submit" value="save">Save</button>

    </div>
    </form>

</div>
</div>

</body>
</html>