<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="indent">

        <h2> {{project_name}} </h2>

        <div class="row">
            <!-- Row 1: Buttons -->
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                    <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/build">
                        <button class="btn btn-primary" type="submit" value="start">Build</button>
                    </form>
                    </div>
                </div>
                
                {% if is_built %}
                <div class="row">
                    <div class="col-6">
                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec">
                            <button class="btn btn-primary" type="submit" value="start">Start Local</button>
                        </form>

                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec?no_exec=true">
                            <button class="btn btn-primary" type="submit" value="start">File Local</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec?remote=true">
                            <button class="btn btn-primary" type="submit" value="start">Start Remote</button>
                        </form>

                        <form method="POST" enctype="multipart/form-data" action="/project/{{project_name}}/exec?remote=true&no_exec=true">
                            <button class="btn btn-primary" type="submit" value="start">File Remote</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Row 2: Input files -->
            <div class="col-3">
                <!-- leave this here or it will fuck up layout -->
                <form method="POST" enctype="multipart/form-data" action="/project_add">
                <input type="hidden" name="project_name" value="{{project_name}}">
                    
                <input type="text" name="comment" class="hidden form-control" 
                       placeholder="Comment" value="{{project.comment}}"
                       aria-label="PROJECTNAME" aria-describedby="basic-addon1"
                       onchange="this.form.submit()">
            
                <select class="form-select" name="shellcode" aria-label="SHELLCODE" onchange="this.form.submit()">
                    {% for shellcode in shellcodes %}
                    <option value="{{shellcode}}" 
                            {% if shellcode in project.settings.payload_path %} selected {% endif %}
                    >
                        {{shellcode}}
                    </option>
                    {% endfor %}
                </select>
            
                <select class="form-select" name="exe" aria-label="EXE" onchange="this.form.submit()">
                    {% for exe in exes %}
                    <option value="{{exe}}"
                        {% if exe in project.settings.inject_exe_in %} selected {% endif %}
                    >
                    {{exe | basename}}</option>
                    {% endfor %}
                </select>

                {% if exports != None %}
                <select class="form-select" name="dllfunc" aria-label="DLLFUNC" onchange="this.form.submit()">
                    {% for export in exports %}
                    <option value="{{export['name']}}"
                        {% if export["name"] in project.settings.dllfunc %} selected {% endif %}
                    >
                    {{export['name']}} ({{export['size']}})</option>
                    {% endfor %}
                </select>
                <a href="/exes/{{project.settings.inject_exe_in | basename}}">INFO</a>
                {% endif %}

            </div>

            <!-- Row 3: settings -->
            <div class="col-3">
                <select class="form-select" name="source_style" aria-label="SOURCESTYLE" onchange="this.form.submit()">
                    {% for name, value in function_invoke_styles %}
                    <option value="{{name}}"
                        {% if name in project.settings.source_style.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>
            
                <select class="form-select" name="carrier_invoke_style" aria-label="INJECTSTYLE" onchange="this.form.submit()">
                    {% for name, value in carrier_invoke_styles %}
                    <option value="{{name}}"
                        {% if value in project.settings.carrier_invoke_style.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>
            
                <select class="form-select" name="decoder_style" aria-label="DECODERESTYLE" onchange="this.form.submit()">
                    {% for name, value in decoderstyles %}
                    <option value="{{name}}"
                    {% if value in project.settings.decoder_style.value %} selected {% endif %}
                    >{{value}}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Row 4: more settings -->
            <div class="col-3">
                EXE/DLL Is: <br>
                Is x64: {{ is_64}} <br>
                Is Dotnet: {{ is_dotnet}} <br>
                Code Section size: {{ code_sect_size}} <br>
                Data Section size: {{ data_sect_size}} <br>
                Data Section largest: {{ data_sect_largest_gap_size}} <br>
                {{ project_dir }} <br>
            </div>
        </div>
        </form>

        <div class="row">
            <div class="col">
              <div class="custom-line"></div>
            </div>
        </div>


    <div class="row">
        <div class="col-md-12">
            {% include 'files.html' %}
        </div>
    </div>
    </div>
</body>
</html>